# 1. Import libraries

In [26]:
# Importing libraries

import pandas as pd
import numpy as np
import os

# 2. Import the new 'orders_products_prior' dataset

In [27]:
# assigning the project folder a string

path = r'C:\Users\junio\OneDrive\Career Foundry Project\01-2024 Instacart Basket Analysis'

In [28]:
# importing 'orders_products_prior.csv' from Original Data and 'orders.csv' from Prepared Data.

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

# 3. Check the dataframes before merging them

### after checking, change the data type in order to optmize memory usage

In [29]:
# checking the columns within 'df_ords'

df_ords.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_last_order'],
      dtype='object')

In [30]:
# remove unnecessary columns 

df_ords.drop(columns = {'Unnamed: 0', 'Unnamed: 0.1'}, inplace = True)

In [31]:
# checking the columns after dropping 

df_ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order'],
      dtype='object')

In [32]:
# checking columns 'df_ords_prior' dataframe

df_ords_prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [33]:
# check info

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int64
 1   user_id                int64
 2   order_number           int64
 3   orders_day_of_week     int64
 4   order_hour_of_day      int64
 5   days_since_last_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [34]:
# Change types for ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_last_order']=df_ords['days_since_last_order'].astype('float16')

In [35]:
# Check output to see memory usage

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_hour_of_day      int8
 5   days_since_last_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 42.4 MB

In [36]:
# check infos 'df_ords_prior' dataframe (orders-products dataset)

df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [37]:
# Change types for ords prods data set 

df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')

In [38]:
# Check output to see memory usage

df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [39]:
# check head orders dataset

df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [40]:
# check shape

df_ords.shape

(3421083, 6)

In [41]:
# check head orders products dataset

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [42]:
# check shape

df_ords_prior.shape

(32434489, 4)

# 4. Merge datasets

In [43]:
# Merging both data sets: orders and orders_products_prior

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [44]:
# Checking head

df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [45]:
# Checking new shape

df_merged_large.shape

(32434489, 10)

In [46]:
# Checking info new merged dataset

df_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_hour_of_day      int8
 5   days_since_last_order  float16
 6   product_id             int32
 7   add_to_cart_order      int32
 8   reordered              int8
 9   _merge                 category
dtypes: category(1), float16(1), int32(4), int8(4)
memory usage: 711.4 MB

In [47]:
# check whether you have a full match or not. 
### They do have a full match  the default Join was applied (using how = 'inner')., tha is, Inner Join)
### To recap, the resulting dataframe (after the merge) has 32,434,489 rows,
### and each of those rows have information found in both input data sets.

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# Task

## Step 2 - Export new combined data set in a pickle format

### Estimate the time to export before exporting it

In [48]:
# import library

import timeit

In [49]:
# Create a sample dataframe of the whole df

sample_size_percent = 1  # for 1% sample

df_sample = df_merged_large.sample(frac=sample_size_percent / 100)

In [50]:
# define the function 

def export_sample_to_pickle():
    df_sample.to_pickle('sample_data.pkl')

In [51]:
time_for_sample = timeit.timeit(export_sample_to_pickle, number=1)

In [52]:
estimated_time_full = time_for_sample * (100 / sample_size_percent)
print(f"Estimated time to export the full DataFrame: {estimated_time_full} seconds")

Estimated time to export the full DataFrame: 0.8070499985478818 seconds

In [53]:
# the full dataframe will take about 80 seconds to be full exported

0.8070499985478818 * 100

80.70499985478818

### Exporting combined data set

In [54]:
## Export data to pkl format

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))